attrs==23.2.0
Faker==24.11.0
importlib_metadata==7.1.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
lingua-language-detector==2.0.2
metasyn==0.8.0
numpy==1.26.4
polars==0.20.22
pyarrow==16.0.0
python-dateutil==2.9.0.post0
referencing==0.34.0
regex==2024.4.16
regexmodel==0.3.3
rpds-py==0.18.0
scipy==1.13.0
six==1.16.0
tomli==2.0.1
tqdm==4.66.2
zipp==3.18.1
